//
   Created by Benoit on 30/04/2016.

div(class='background-index')

    div(class='header')
        div(class='header-wrap row')

            div(class='header-item col-lg-3 col-md-4')
                a(href='/', class='a-wrap-title-header')
                    span(class='span-title-header')
                        span(class='span-title-header-N-color') N
                        | YMERUS

    div(class='wrapper-form centerVerticallyParent', parentwindow='true')
        include include/form

    //include include/bottom-navbar