//
   Created by Benoit on 10/04/2017.

ng-controller(ng-controller='NymerusUserContactCtrl')
    nymeruscontactmanager(class='contact-manager')

        div(class='container-contact-table', autoheight, substractvalue='110')

        //div(class='panel-contact-tools')
        //    select(class='user-list form-control' ng-model='user' ng-options='user for (user, id) in users')
        //    button(type='button' class='add-contact-button btn btn-success' ng-click='addContact()') Add as contact
        //    button(type='button' class='add-blacklist-button btn btn-danger' ng-click='blacklistContact()') Blacklist