//
   Created by Benoit on 04/10/2016.

div(class='my-form')

    div(class='panel', id='panel')
        div(class='panel-body')
            div(ng-controller='LoginCtrl', class='login-form')
                include login-form
